---
layout: default
---

<style>
  .bg-img{
    background-image: url("https://www.history.com/.image/t_share/MTg2MDI2NTMyODI3ODM0MDUx/medieval-xmas-a872te.jpg");
    background-size: contain;
    width:calc(100vw);
    height:calc(100vh - 100px);
    display: grid;
    align-items: end;
  }
  .bg-white-transparent{
    background-color: rgba(255, 255, 255, 0.7);
    height: 50vh;
    width:100%;
    display: grid;
    align-items: center;
  }
  html[data-theme='dark'] .bg-white-transparent{
    background-color: rgba(0, 0, 0, 0.7);
    height: 50vh;
    width:100%;
    display: grid;
    align-items: center;
  }
</style>

  
<div class="bg-img">
    <div class="bg-white-transparent">
        <div class="header-bar border-0 m-auto">
          <h1 class="mb-5">Bringing history to your home</h1>
          <input class="btn btn-primary rounded btn-lg" style="background: var(--global-theme-color)!important;" type="button" value="Learn more">
        </div>
    </div>
</div>
